.bookAndReview .headerProfileSec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  width: 100%;
}

.bookAndReview .headerProfileSec .profileImg {
  width: 80px;
  margin-right: 10px;
}
.bookAndReview .headerProfileSec .name {
  font: 16px poppinsSb;
}
.bookAndReview .headerProfileSec .text {
  font: 14px poppins;
}
.bookAndReview .reviewRow {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 30px;
}

.bookAndReview .inputDiv {
  margin-bottom: 30px;
}
.bookAndReview .inputDiv .textInput {
  height: 40px;
}
.bookAndReview .title {
  font: 24px poppinsBd;
  margin-bottom: 30px;
}
